name: Docker Image CI

env:
  DOCKER_TAG: v6

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker_build_amd:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build Docker AMD
      run: docker build . -f Dockerfile -t thefollyllama/medusa:${DOCKER_TAG}-amd64  --platform linux/amd64 --provenance=FALSE
    - name: Push image AMD
      run: docker push thefollyllama/medusa:${DOCKER_TAG}-amd64
      if: github.event_name != 'pull_request'

  docker_build_arm:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build Docker AMD
      run: docker build . -f Dockerfile -t thefollyllama/medusa:${DOCKER_TAG}-arm64  --platform linux/amd64 --provenance=FALSE
    - name: Push image AMD
      run: docker push thefollyllama/medusa:${DOCKER_TAG}-arm64
      if: github.event_name != 'pull_request'

  docker_create_manifest:
    needs: [docker_build_amd, docker_build_arm]
    runs-on: ubuntu-latest
    steps:
    - name: create_manifest
      run: |
        docker manifest create thefollyllama/medusa:${DOCKER_TAG}  --amend thefollyllama/medusa:${DOCKER_TAG}-arm64  --amend thefollyllama/medusa:${DOCKER_TAG}-amd64
        docker manifest push thefollyllama/medusa:${DOCKER_TAG}
      if: github.event_name != 'pull_request'

  # Only for visibility; kept downstream to take advantage of docker cache. Unit tests run during each docker build.
  # Note, at this time many unit tests fail....getting to it.
  # Once unit tests are stable, I'd suggest moving them to the beginning of the pipeline, and blocking downstream jobs.
  unit_test_visibility:
    runs-on: ubuntu-latest
    needs: docker_create_manifest
    steps:
    - name: create_manifest
        run: run -it thefollyllama/medusa:${DOCKER_TAG} R -e 'devtools::test()'